h1, h2 {
  display: inline-block;
  margin: 0;
}

h1 {
  background-color: red;
  color: white;
  padding: 10px 4px 10px 120px;
}

h2 {
  padding-left: 8px;
  font-size: 16px;
  color: grey;
}

div.container {
  width: 960px;
}

img {
  width: 100%;
}


