.header {
  background-color: yellow;
}

.nav {
  text-align: right;
}

.nav a {
  text-decoration: none;
  color: black;
  padding: 12px 0;
  display: inline-block;
}

@media (max-width: 480px) {
  h1, .nav {
    text-align: center;
  }
}