.container {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background-color: yellow;
}

h1, .nav, .article {
  display: inline-block;
  width: 49%;
}

h1 {
  padding-left: 20px;
  box-sizing: border-box;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav {
  text-align: right;
}

@media (max-width: 480px) {
  h1, .nav, .article {
    width: 100%;
    display: block;
  }

  h1, .nav {
    text-align: center;
  }

  h1 {
    padding-left: 0;
  }

  .container {
    width: 100%;
  }
}








